// Resente do documento base

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #fff;

  --gray-100: #f7f9fb;
  --gray-200: #f0f4f7;
  --gray-300: #e1e9ee;
  --gray-350: #d9e4ea;
  --gray-400: #717c82;
  --gray-300: #566166;
  --gray-800: #2a3439;

  --purple-100: #f3e8ff;
  --purple-500: #7c3aed;
  --purple-600: #6d28d9;

  --red-200: #ff8b9a;
  --red-500: #9e3f4e;


}

body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--gray-100);
  color: var(--gray-800);
}

body,
input,
textarea,
button {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

button {
  cursor: pointer;
}
