.formContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  span {
    font-size: 0.625rem;
    font-weight: 700;
  }
  
  div {
    
    position: relative;
    width: 100%;
    min-height: 3rem;
    display: flex;
    align-items: center;
    padding: 0 0 0 1rem;
    

    cursor: pointer;
    img {
      z-index: 1; 
    }
    select {
      border-radius: 10px;
      position: absolute;
      inset: 0;
      border: 1px solid var(--gray-380);;
      padding: 0 2.37rem;
      width: 100%;
      height: 100%;

      cursor: pointer;

      &.error {
        border-color: var(--red-500);
      }
    }
    :focus {
      outline: none;
    }
  }
}

.errorMessage {
  font-size: 0.75rem;
  color: var(--red-500);
}

/* 

.formContainer {
  width: 100%;
  gap: 0.5rem;
  
  span {
    font-size: 0.625rem;
    font-weight: 700;
  }
  
  div {
    display: flex;
    align-items: flex-start;
    padding: 1rem;
    gap: 0.5rem;
    border-radius: 8px;
    border: 1px solid var(--gray-380);
    background-color: aquamarine;
    
    select {
      cursor: pointer;
      width: 100%;
      border: none;
      resize: none;

    }:focus{
      outline: none;
    }
  }
} */
